.wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 100%;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: white;
}