@import "../vars";

.card {
  padding: 15px;
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: #b9b9b9;
    font-size: 16px;
  }
  &__info {
    svg {
      opacity: .6;
      color: white;
    }
  }
  &__body {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 15px 0;
  }
}